* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cddeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 4;
  backdrop-filter: blur(2rem);
  display: flex;
}

.circle1 , .circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
    );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.circle1 {
  top: 5%;
  right: 10%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.games {
  flex: 2;
}

